<div class="row">
  <h2>Add new course</h2>
  <form method="POST" action="/add" class="col s12">
    <div class="input-field col s10">
      <input placeholder="Placeholder" id="title" name="title" type="text" class="validate" required>
      <label for="title">name of the course</label>
      <span class="helper-text" data-error="enter name"></span>
    </div>
    <div class="input-field col s10">
      <input name="price" id="price" type="number" class="validate" required min="1">
      <label for="price">price of the course</label>
      <span class="helper-text" data-error="enter price"></span>
    </div>
    <div class="input-field col s10">
      <input id="img" name="img" type="text" class="validate" required>
      <label for="img">img of the course</label>
      <span class="helper-text" data-error="enter url of image"></span>
    </div>
  </form>
  <button class="btn btn-primary">submit</button>
</div>
